body { padding-top: 2em; }

p {
  line-height: 1.5em;
}

.navbar-fixed-top {
  background: linear-gradient(to bottom, #ffffff 0%,#ffffff 90%, rgba(255,255,255,0) 100%);
  border-bottom: none;
  padding-bottom: .5em;
}

.email:after {
  content: "<matt\40mhail.io>";
  }
}
.tag-cloud .label {
  font-size: 1.1em;
}

@media screen and (max-width: 500px) {
  .fa-5x {
    font-size: 3em;
  }

  h1 {
    font-size: 2em;
  }
}

.
