<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>

  <div class="date">
    <span class="label label-default">
    <i class="fa fa-calendar"></i> {{ page.date | date: "%B %e, %Y" }}
    </span>
  </div>

</div>

<div class="row-fluid post-full">
  <div class="span12">

    <div class="content">
      {{ content }}
    </div>

    {% unless page.tags == empty %}
        {% assign tags_list = page.tags %}
          <hr/>
          <ul class="list-inline tag-cloud">
          {% if tags_list.first[0] == null %}
            {% for tag in tags_list %}
              <li>
              <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">
              <span class="label label-primary">
                  <i class="fa fa-tag"></i> {{ tag }}
              </span>
              </a>
              </li>
            {% endfor %}
          {% else %}
            {% for tag in tags_list %}
              <span><a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }} <span>{{ tag[1].size }}</span></a></span>
            {% endfor %}
          {% endif %}
        </ul>
        {% assign tags_list = nil %}
    {% endunless %}

    <hr>
      <ul class="pager">
      {% if page.previous %}
        <li class="previous"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">
          <i class="fa fa-arrow-circle-o-left"></i> Previous
        </a></li>
      {% else %}
        <li class="previous disabled"><a><i class="fa fa-arrow-circle-o-left"></i> Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}"> <i class="fa fa-archive"></i> Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next <i class="fa fa-arrow-circle-o-right"></i></a></li>
      {% else %}
        <li class="next disabled"><a>Next <i class="fa fa-arrow-circle-o-right"></i></a>
      {% endif %}
      </ul>
    {% include JB/comments %}
  </div>
</div>
